.optsContainer{
    padding-left: 10%;
    max-height: 92%;
    overflow: auto;
    min-height: 92%;
    .listCo{
        padding-left: 5%;

        .carCo{
            padding-left: 5%;
        }
    }

    .title{
        color: #525252;
        font-size: 20px;
        text-decoration: underline; 
    }
}
.footCon{
    text-align: center;
    margin-top: 10px;
    .dgbtn{
        background-color: #ef7d7d;
        border: none;
        border-radius: 2px;
        padding: 5px 8px;
        outline: none;
        cursor: pointer;
        color: white;
        font-size: 15px;
    }
    
}